#root {
	background-color: lightgray;
	justify-items: left;
	padding: 10px;
}
.search-container {
	position: relative;
	display: inline-flex;
	align-items: center;
	width: 300px;
}
#searchText {
	width: 100%;
	padding: 10px;
	border: 1px solid  black;
	border-radius: 4px;
}
.clear-button {
	position: absolute;
	background-color: gray;
	display: flex;
	justify-content: center;
	text-align: center;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	right: 5px;
	line-height: 1;
	color: white;
	cursor:pointer;
	border: none;
}
.highlighted-count {
	font-weight: bold; /* Makes the text bold */
	padding: 10px 5px; /* Adds padding around the text (top/bottom, left/right) */
	display: inline-block; /* Important for vertical padding on inline elements */
}
.highlight {
	background-color: yellow;
	font-weight: bold;
}